/* Fix twitter bootstrap */
body {
  padding: 80px 0 30px 0;
}

li.alert-default form button,
li.alert-default form a,
li.alert-default a,
li.alert-primary form button,
li.alert-primary form a,
li.alert-primary a,
li.alert-info form button,
li.alert-info form a,
li.alert-info a,
li.alert-success form button,
li.alert-success form a,
li.alert-success a,
li.alert-danger form button,
li.alert-danger form a,
li.alert-danger a,
li.alert-warning form button,
li.alert-warning form a,
li.alert-warning a {
  color: #FFF!important;
}

/* Utils */
.no-margin {
  margin: 0;
}

.center {
  text-align: center;
}

/* Pagination */
.no-margin .pagination {
  margin: 0;
}

/* Navbar vertical */
@media (min-width: 1200px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
  }
  .sidebar-nav .navbar ul:not {
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

/* View actions */
.view-actions {
  margin-bottom: 23px;
}

/* Form */
.form-button {
  display: inline;
}

/* Table */
.th-actions {
  min-width: 160px;
}
